* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: linear-gradient(120deg, #e0eafc, #cfdef3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.golf-score-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  width: 400px;
}

h2.hole-number {
  /* text-align: center; */
  color: #2d6a4f;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav-icon {
  font-size: 2rem;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
  margin-right: 12px;
}

.form-input {
  width: 50%;
  margin-right: 20%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #b7b7b7;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
}

.puttlen-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  margin-bottom: 2rem;
  row-gap: 0.5rem;
}

.putt-len-row {
  display: flex;
  gap: 0.5rem;
}
.putt-len-row__1 {
  grid-column: 2;
  grid-row: 1;
}

.putt-len-row__2 {
  grid-column: 2;
  grid-row: 2;
}

.putt-len {
  width: 22%;
  height: 2rem;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #b7b7b7;
  /* border-color: #fff; */
}

.putt-len-text {
  grid-column: 1;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: end;
  padding-right: 12px;
}
.hidden {
  visibility: hidden;
}

.hole-nav {
  text-decoration: none;
  font-size: 1.5rem;
  color: #2d6a4f;
  margin-left: 10px;
  transition: color 0.2s;
}

.hole-num {
  font-size: 2rem;
  font-weight: bold;
  color: #2d6a4f;
  text-align: center;
  transition: color 0.2s;
  border: none;
  appearance: none;
}

button[type='submit'] {
  width: 50%;
  padding: 0.7rem;
  background: #2d6a4f;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 25%;
  margin-bottom: 10px;
}

button[type='submit']:hover {
  background: #40916c;
}

.target-container {
  margin-right: 50%;
  transform: translateX(60%);
}
.target {
  transform: rotate(45deg);
  text-anchor: middle;
}

.target-child {
  fill: rgb(161, 206, 152);
  stroke: rgb(68, 160, 50);
}

.target-outer:hover {
  fill: rgb(68, 160, 50);
}
.target-child-active {
  fill: #2d6a4f;
}

.target-inner:hover {
  fill: rgb(68, 160, 50);
}

.target-text {
  font-size: 0.75rem;
  text-transform: uppercase;
}
